html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    background-color: #f3d1bf;
    background-size: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0%;
}

.intro {
    padding-top: 5%;
    font-family: 'Noto Sans', sans-serif;
}

.carousel {
    font-family: 'Noto Sans', sans-serif;
}

.section {
    height: 100%;
}

.navbar {
    background: #ba9b89;
    font-family: 'Noto Sans', sans-serif;
}

#collapseExample {
    font-size: 15px;
    text-align: left;
}

img {
    max-width: 80%;
    display: inline;
}
.sch_img{
    width: 50%;
    
}
.timeline-content p {
    font-family: 'Noto Sans', sans-serif;
}
.nav-link {
    color: black;
}

.nav-link:hover {
    color: white;
}

.icon {
    padding-right: 2px;
}

h1 {
    font-family: 'Noto Sans', sans-serif;
    display: inline;
    font-size: 60px;
}

h2 {
    padding-top: 5%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    color: black;
    text-decoration: none;
}

h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    padding: 0px;
    margin: 0px
}

h4 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    padding: 0px;
    margin: 0px;
}

hr {
    border: none;
    height: 10%;
}

ul {
    margin-top: 3px;
}

@media screen and (max-width: 500px) {
    .tab a {
        float: none;
        display: block;
    }
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: #ba9b89;
    /* Set a background color */
    color: black;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
    font-family: monospace;
}

#myBtn:hover {
    background-color: white;
    /* Add a dark-grey background on hover */
}

.collapse {
    margin-top: 15px;
}

.collapse h2 {
    font-size: 20px;
}

/* timeline */
body{margin-top:20px;}
.timeline-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem
}

@media (min-width:768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 3.46rem;
        position: absolute;
        left: 7.5rem;
        top: .3125rem
    }
    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 3.8125rem;
        position: absolute;
        right: 7.5rem;
        top: .3125rem
    }
}

.timeline-steps .timeline-content {
    width: 10rem;
    text-align: center
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #3b82f6
}

.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    background-color: #3b82f6;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: .5
}


